@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #243e63;
}

a {
  display: inline;
  text-decoration: none;
}

button {
  cursor: pointer;
}
.container {
  padding: 96px 0;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
h1 {
  font-size: 48px;
  color: #1a202c;
  line-height: 1.25;
}

.blue {
  color: #6415ff;
}
p {
  font-size: 18px;
  line-height: 1.5;
}
img {
  width: 100%;
}

section {
  padding: 0 32px;
}

.section__para {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.625;
}

/* LANDING/

NAVIGATION */

nav {
  padding-top: 32px;
  display: flex;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo--img {
  height: 40px;
  width: 40px;
}

.nav__logo--title {
  font-weight: 900;
  font-size: 24px;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
  letter-spacing: 0.35px;
  position: relative;
  transition: all 300ms;
  margin: 0 24px;
  position: relative;
}

.nav__link-login {
  margin-left: 48px;
}

.nav__link--sign-up {
  margin: 0;
  padding: 10px 32px;
  margin-top: 2px;
  border-radius: 9999px;
  color: #fff;
  background-color: #6415ff;
  line-height: 1.5;
  border: none;
  width: auto;
  transition: all 300ms ease;
}

.nav__link:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 3px;
  width: 100%;
  background: #6415ff;
  transition: all 300ms ease;
  opacity: 0;
}

.nav__link:hover:after {
  opacity: 1;
}

.nav__link:last-child:hover:after {
  opacity: 0;
}

.nav__link--sign-up:hover {
  background-color: rgba(80, 17, 204);
  color: white;
}

/* HEADER/ */

.header__row {
  display: flex;
}
.header__decription {
  width: 40%;
}

.header__description--para {
  margin: 32px 0;
}

.header__email {
  width: 100%;
  max-width: 448px;
  height: 68px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 192px 20px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  transition: border-color 300ms;
}

.header__email--input:hover {
  border-color: rgba(160, 174, 192);
}

.header__email--input:focus,
.header__email--input:active {
  outline: none;
  border-color: rgba(100, 21, 255);
}

.header__email--btn {
  z-index: 2;
  margin: 8px;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 160px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms ease;
}

.header__email--btn:hover {
  background-color: rgb(60, 13, 153);
}
.header__customers--title {
  margin-top: 80px;
  color: #a0aec0;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.6;
}

.header__customers--img {
  margin-top: 16px;
  padding-right: 128px;
  opacity: 0.5;
}

.header__img--wrapper {
  width: calc(100% - 40%);
  display: flex;
  justify-content: flex-end;
}

.header__img {
  width: 100%;
  max-width: 768px;
}

/* FEATURES */

.row__features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__tag {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
}

.section__title {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 0.025em;
}

#features .section__para {
  text-align: center;
  max-width: 576px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feature {
  width: calc(100% / 3);
}

.feature__row {
  display: flex;
  align-items: flex-start;
  padding: 32px 24px;
}

.feature__img--wrapper {
  display: flex;
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 500px;
}

.feature__img {
  width: 24px;
  height: 24px;
}

.feature__text {
  margin-top: 8px;
  margin-left: 16px;
}

.feature__para {
  margin-top: 16px;
  font-size: 16px;
  max-width: calc(634px / 3);
  color: rgb(124, 139, 161);
  line-height: 2;
  font-weight: 500;
}
